/* IMPOSTAZIONI GENERALI */
body {
  background-color: #f2f2f2;
  background-image: url(../U1-W1-D4/assets/img/sfondo.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
#img {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
